.oculto{
	display: none;
}
.jqte{
	margin: 15px 0px;
}
#graficaCanales, #graficaUsuarios, #graficaReproducciones, #graficaConexion {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
.select2-container .select2-selection--single{
	height: 38px;
}
.select2-container--default .select2-selection--single {
	border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 35px;
}
.btnQuitarIP, .localizarIP{
	cursor: pointer;
}
.permitida{
	background-color: green;
}
.NoPermitida{
	background-color: red;
}
